{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <style>
        #Title>h2 {
            font-size: 30px;


        }

        .signup-content {
            margin-top: -65px;
        }

        .container{
            height:400px;
        }

        #submit{
            margin-right:220px;
            margin-top:-5px;
        }

    </style>
    {% if flag %}
<script>alert("{{ result }}")</script>
{% endif %}
</head>

<body>

    <div class="main">

        <section class="signin">
            <div class="container">
                <div id="Title">
                    <h2>Sign In</h2>
                </div>
                <div class="signup-content">
                    <form action="signin" method="POST" id="signin-form" class="signup-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-input" name="email" id="email" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-input" name="password" id="password" />
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Submit" />
                        </div>

                        <div>
                            <strong><span class="appointment-btn" style="font-size: 10px;"><a href="go_to_signup">Don't have an account? Sign-Up here!</a></span></strong>
                            <br></br>
                            <a href="home">Get back to homepage</a>
                        </div>
                    </form>
                </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{%static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{%static 'vendor/jquery-validation/dist/additional-methods.min.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
