# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\A1AUB\A1Books_slides_homework\AASpring_2021\EECE_430_Ali_Hajj\Project\shaza\shaza\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
